

.card{
    border: none;
    span{
        color: #666;
    }
}

.collections{
    margin-bottom: 50px;
    padding: 0px 45px;
}

.container-center-discover{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title-discover{
    margin-top: 20px;
}

