.selected{
    li{
        border-bottom: 1px solid blue;
    a{
        color: blue;
    }
    }
}

.container-center-discover{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title-discover{
    margin-top: 20px;
}