.home-content .title h4 {
  margin: 20px 20px;
  margin-bottom: -2px; }

.fixed {
  position: fixed;
  top: 0;
  background: black; }

.row {
  padding: 10px; }

.menu-home {
  background-image: url("../image/background-search.jpeg");
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 500px; }
  .menu-home h2 {
    color: white;
    width: 40%;
    text-align: center; }
  .menu-home a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    margin: 0px 10px; }

.menu-navbar-home {
  line-height: 32px; }

.logo {
  padding-left: 30px; }

ul {
  list-style: none;
  display: inline-flex;
  margin-right: 10px; }
  ul li {
    margin: 0px -5px;
    line-height: 30px; }

ul.social {
  padding: 0px 20px;
  margin: 5px 10px; }
  ul.social li {
    padding: 0px 20px; }
    ul.social li a {
      margin: 5px -20px; }
      ul.social li a:hover {
        background-color: #1d1b1b;
        color: white; }

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropdown-content-more {
    display: block; }

.dropdown-content {
  margin-top: 10px;
  margin-left: -70px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black; }

.dropdown-content-more {
  margin-top: 10px;
  margin-left: -140px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-more a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content-more a:hover {
      background-color: #ddd;
      color: black; }

.search .searchTerm {
  padding: 10px 60px;
  border: none; }
.search .searchButton {
  background-color: white;
  border: none;
  padding: 9.7px 10px;
  margin-left: -5px; }

.menu {
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; }
  .menu h2 {
    color: white;
    width: 500px; }
  .menu a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    margin: 0px 10px; }

.menu-navbar {
  background-color: #232a34;
  height: 60px;
  line-height: 32px; }

.fixed {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 100; }

.subnavbar {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px 0px;
  margin-top: 60px; }
  .subnavbar a {
    margin: 0px 10px;
    color: #666;
    text-decoration: none; }
    .subnavbar a:hover {
      color: #4a90e2; }

.active {
  color: #4a90e2 !important;
  border-bottom: 2px solid #4a90e2;
  margin-top: 10px; }

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropdown-content-more {
    display: block; }

.dropdown-content {
  margin-top: 10px;
  margin-left: -70px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black; }

.dropdown-content-more {
  margin-top: 10px;
  margin-left: -140px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-more a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content-more a:hover {
      background-color: #ddd;
      color: black; }

.about-header {
  background-image: url("../image/about-background.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .about-header .header-content {
    text-align: center;
    padding-top: 120px; }
    .about-header .header-content h1 {
      margin: 10px 0px; }
    .about-header .header-content h1, .about-header .header-content h3 {
      margin-bottom: 15px;
      color: white; }
    .about-header .header-content h3 {
      width: 50%;
      margin-left: 370px; }

.main-content h1 {
  margin-top: 30px;
  margin-bottom: 50px; }
.main-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px; }
.main-content i {
  font-size: 70px;
  font-weight: 600; }

.container {
  width: 750px; }

.container-footer {
  background-color: #232a34;
  padding-left: 100px;
  padding-right: 100px; }
  .container-footer .footer-list-pexels {
    padding: 40px 0px; }
    .container-footer .footer-list-pexels a {
      text-decoration: none;
      color: white; }
    .container-footer .footer-list-pexels a.register {
      text-decoration: none;
      color: #000;
      padding: 10px 5px;
      background: #f9f9f9; }
    .container-footer .footer-list-pexels p {
      padding: 15px 0px;
      color: white;
      width: 90%; }
    .container-footer .footer-list-pexels ul {
      padding: 35px 0px; }
      .container-footer .footer-list-pexels ul li {
        margin-left: 20px; }
        .container-footer .footer-list-pexels ul li a {
          display: block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          background-color: #cec9c9;
          color: #333; }
  .container-footer .footer-list-service {
    padding: 40px 0px;
    margin-left: 50px; }
    .container-footer .footer-list-service h5 {
      color: white; }
    .container-footer .footer-list-service ul {
      display: block;
      padding: 5px 5px; }
      .container-footer .footer-list-service ul li {
        line-height: 35px; }
        .container-footer .footer-list-service ul li a {
          text-decoration: none;
          color: white; }
  .container-footer .footer-list-photo {
    padding: 40px 0px; }
    .container-footer .footer-list-photo h5 {
      color: white; }
    .container-footer .footer-list-photo ul {
      display: block;
      padding: 5px 5px; }
      .container-footer .footer-list-photo ul li {
        line-height: 35px; }
        .container-footer .footer-list-photo ul li a {
          text-decoration: none;
          color: white; }

.menu {
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; }
  .menu h2 {
    color: white;
    width: 500px; }
  .menu a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    margin: 0px 10px; }

.menu-navbar {
  background-color: #232a34;
  height: 60px;
  line-height: 32px; }

.subnavbar {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px 0px; }
  .subnavbar a {
    margin: 0px 10px;
    color: #666;
    text-decoration: none; }
    .subnavbar a:hover {
      color: #4a90e2; }

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropdown-content-more {
    display: block; }

.dropdown-content {
  margin-top: 10px;
  margin-left: -70px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black; }

.dropdown-content-more {
  margin-top: 10px;
  margin-left: -140px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-more a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content-more a:hover {
      background-color: #ddd;
      color: black; }

.lisence-header {
  background-image: url("../image/lisence-background.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .lisence-header .header-content {
    text-align: center;
    padding-top: 120px; }
    .lisence-header .header-content h1 {
      margin: 10px 0px; }
    .lisence-header .header-content h1, .lisence-header .header-content h3 {
      margin-bottom: 15px;
      color: white; }
    .lisence-header .header-content h3 {
      width: 50%;
      margin-left: 370px; }

.container-center-lisence {
  margin-top: 25px; }
  .container-center-lisence .row {
    justify-content: center; }
    .container-center-lisence .row ul.list-custom-allowed {
      max-width: 44%;
      display: block;
      margin-bottom: 70px; }
      .container-center-lisence .row ul.list-custom-allowed li {
        font-size: 18px;
        padding: 10px 0px;
        line-height: 40px; }
        .container-center-lisence .row ul.list-custom-allowed li i {
          font-size: 25px;
          color: #05a081; }
    .container-center-lisence .row ul.list-custom-notallowed {
      max-width: 44%;
      display: block;
      margin-bottom: 70px; }
      .container-center-lisence .row ul.list-custom-notallowed li {
        font-size: 18px;
        padding: 10px 0px;
        line-height: 40px; }
        .container-center-lisence .row ul.list-custom-notallowed li i {
          font-size: 25px;
          color: red; }

.title-center {
  text-align: center; }
  .title-center .row {
    justify-content: center; }
    .title-center .row p {
      width: 25%;
      margin-top: -15px;
      color: #666;
      font-size: 17px; }

.text-content {
  padding-left: 150px;
  padding-right: 150px; }
  .text-content .col-lg-6 {
    padding: 20px 0px; }
    .text-content .col-lg-6 img {
      float: left;
      margin: 0px 15px; }
    .text-content .col-lg-6 .content-text {
      padding-top: 25px; }

.container-footer {
  height: 365px; }

.menu {
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; }
  .menu h2 {
    color: white;
    width: 500px; }
  .menu a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
    margin: 0px 10px; }

.menu-navbar {
  background-color: #232a34;
  height: 60px;
  line-height: 32px; }

.subnavbar {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px 0px; }
  .subnavbar a {
    margin: 0px 10px;
    color: #666;
    text-decoration: none; }
    .subnavbar a:hover {
      color: #4a90e2; }

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropdown-content-more {
    display: block; }

.dropdown-content {
  margin-top: 10px;
  margin-left: -70px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black; }

.dropdown-content-more {
  margin-top: 10px;
  margin-left: -140px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-more a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content-more a:hover {
      background-color: #ddd;
      color: black; }

.faq-header {
  background-image: url("../image/faq-background.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: darken;
  background-color: #00000036; }
  .faq-header .header-content {
    text-align: center;
    padding-top: 120px; }
    .faq-header .header-content h1 {
      margin: 10px 0px; }
    .faq-header .header-content h1, .faq-header .header-content h3 {
      margin-bottom: 15px;
      color: white; }
    .faq-header .header-content h3 {
      width: 50%;
      margin-left: 370px; }

.faq-content h2 {
  margin-top: 85px;
  margin-bottom: -20px;
  font-weight: 700; }
.faq-content .definition-list {
  margin: 50px 0px; }
  .faq-content .definition-list .definition-list-content {
    color: #666;
    font-size: 18px; }

.card {
  border: none; }
  .card .card-img-top {
    border-radius: 8px; }
  .card span {
    color: #666; }

.collections {
  margin-bottom: 50px;
  padding: 0px 45px; }

.container-center-discover {
  width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.title-discover {
  margin-top: 20px; }

.search-category {
  margin-bottom: 30px; }
  .search-category a {
    position: relative; }
    .search-category a:hover span.search-category-more {
      opacity: 1; }
    .search-category a .card-img-top {
      width: 85%;
      border-radius: 15px;
      max-height: 150px;
      object-fit: cover; }
    .search-category a h4 {
      position: absolute;
      top: 20px;
      left: 40px;
      color: white; }
    .search-category a span {
      position: absolute;
      z-index: 1;
      bottom: 20px;
      right: 45px;
      font-size: 26px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      line-height: .3;
      opacity: 0;
      transition: all .3s; }

.title-collection {
  margin-top: 7%;
  text-align: center; }

.photos {
  padding-left: 10px;
  padding-right: 10px; }
  .photos .photos-column .image-div {
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25); }
    .photos .photos-column .image-div img {
      width: 100%;
      height: 100%; }
    .photos .photos-column .image-div i {
      position: absolute;
      bottom: 0px;
      right: 0px; }

.title-search {
  margin-top: 6%; }
  .title-search h3 {
    margin-left: 1.5%; }

.title-popular-photos {
  margin-top: 2%; }
  .title-popular-photos h3 {
    margin-left: 1.5%; }

.mt-40 {
  margin-top: 40px; }

.mt-100 {
  margin-top: 100px; }

.image-section {
  padding-left: 40px;
  padding-right: 40px; }
  .image-section .image {
    margin-left: 100px; }
    .image-section .image img {
      height: auto;
      width: auto;
      max-width: 500px;
      max-height: 600px; }

.content {
  color: #555; }
  .content a {
    color: #555;
    text-decoration: none; }
  .content .col-lg-7 {
    padding: 0; }
  .content .button-download {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #05a081; }
  .content .like .button-like {
    background: #f9f9f9;
    border-color: #eee;
    padding: 10px 15px; }
    .content .like .button-like i {
      color: #555;
      font-size: 20px; }

/*# sourceMappingURL=style.css.map */
