.home-content .title h4 {
  margin-top: 10px; }

.m-container {
  padding-left: 20px;
  padding-right: 20px; }

.row {
  padding: 10px; }

.menu {
  background-image: url("../image/background-search.jpeg");
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 500px; }
  .menu h2 {
    color: white;
    width: 500px; }
  .menu a {
    font-size: 13px;
    text-decoration: none;
    color: #eee;
    margin: 0px 10px; }

.logo {
  padding-left: 30px; }

ul {
  list-style: none;
  display: inline-flex;
  margin-right: 10px; }
  ul li {
    margin: 0px -5px;
    line-height: 30px; }

ul.social {
  padding: 0px 20px;
  margin: 5px 10px; }
  ul.social li {
    padding: 0px 20px; }
    ul.social li a {
      margin: 5px -20px; }
      ul.social li a:hover {
        background-color: #1d1b1b;
        color: white; }

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropdown-content-more {
    display: block; }

.dropdown-content {
  margin-top: 10px;
  margin-left: -70px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black; }

.dropdown-content-more {
  margin-top: 10px;
  margin-left: -140px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content-more a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content-more a:hover {
      background-color: #ddd;
      color: black; }

.menu-about {
  background-blend-mode: darken;
  background-color: #0000007a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; }
  .menu-about h2 {
    color: white;
    width: 500px; }
  .menu-about a {
    font-size: 13px;
    text-decoration: none;
    color: #eee;
    margin: 0px 10px; }

.menu-navbar {
  background-color: #232a34; }

.subnavbar {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px 0px; }
  .subnavbar a {
    margin: 0px 10px;
    color: #666;
    text-decoration: none; }
    .subnavbar a:hover {
      color: #4a90e2; }

.about-header {
  background-image: url("../image/about-background.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .about-header .header-content {
    text-align: center;
    padding-top: 120px; }
    .about-header .header-content h1 {
      margin: 10px 0px; }
    .about-header .header-content h1, .about-header .header-content h3 {
      margin-bottom: 15px;
      color: white; }
    .about-header .header-content h3 {
      width: 50%;
      margin-left: 370px; }

.main-content h1 {
  margin-top: 30px;
  margin-bottom: 50px; }
.main-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px; }
.main-content i {
  font-size: 70px;
  font-weight: 600; }

.container {
  width: 750px; }

.container-footer {
  background-color: #232a34;
  padding-left: 100px;
  padding-right: 100px; }
  .container-footer a {
    text-decoration: none;
    color: white; }
  .container-footer a.register {
    text-decoration: none;
    color: #000;
    padding: 10px 5px;
    background: #f9f9f9; }
  .container-footer .footer-list-pexels {
    padding: 40px 0px; }
  .container-footer p {
    padding: 15px 0px;
    color: white;
    width: 90%; }
  .container-footer ul {
    padding: 35px 0px; }
    .container-footer ul li {
      margin-left: 20px; }
      .container-footer ul li a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: #cec9c9;
        color: #333; }
  .container-footer ul.service-list {
    color: white; }

/*# sourceMappingURL=style.css.map */
